[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ast = true
ffi = true
build_info = true
extra_output = ["storageLayout"]
gas_reports = ["UREToken", "TransparentUpgradeableProxy"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
